@model GroupChat.Models.HomeViewModel
@{
    ViewBag.Title = "Chat Rooms";
}

<h2>@ViewBag.Title</h2>

<table>
    @foreach (var room in Model.RoomsList)
    {
        <tr>
            <td><a>@room</a></td>
        </tr>
    }
</table>